.grid-container{
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas: 
    "header header header header header header"
    " . login login login login  ."
    " . login login login login  ."
    "footer footer footer footer footer footer"
    ;
}


.login{
    grid-area: login;
    justify-content: left;
}

.login-container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}
ion-header{
    --ion-background-color: grey;
}
ion-title{
    color: white;
}
div{
    color: red;
}
